{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
<div>
    <div data-cidaas-login 
        data-cidaas-login-options="{{
            {
                'requestId': requestId,
                'cidaas': cidaas
            }|json_encode
        }}"
    ></div>
    <div class="row justify-content-md-center align-items-center">
        <div class="col-md-3">
            {% sw_include '@CidaasHelper/storefront/cidaasauth/login.html.twig' 
                with {requestId}
            %}
        </div>
    </div>
</div>
{% endblock %}