.checkout-container {
    display: flex;
    margin-top: 5%;
}

.checkout-main {
    margin-right: 1%;
}

.cidaas-guest-container {
    .guest-block {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        margin-top: 5%;

        .button-cidaas {
            background-color: #0b539b;
            border: none;
            font-weight: 600;
            font-size: 18px;
            color: #ffffff;
        }

        .guest-p1 {
            padding: 10px 88px;
        }

        .guest-p2 {
            padding: 10px 110px;
        }

        .button-guest {
            background: white;
            color: #0b539b;
            font-weight: 600;
            font-size: 18px;
        }

        .button-cidaas:hover {
            background-color: #0b539b;
            color: #ffffff;
        }

        .button-guest:hover {
            background: white;
            color: #0b539b;
        }
    }
}

@media screen and (max-width: 768px) {

    .checkout-aside {
        display: none;
    }

    .cidaas-guest-container {
        .guest-block {
            .guest-p1 {
                padding: 10px 45px;
            }

            .guest-p2 {
                padding: 10px 62px;
            }
        }
    }
}



@media (max-width: 320px) {
    .cidaas-guest-container {
        .guest-block {
            .guest-btn {
                text-align: center;
                position: relative;
                margin-top: 20px;

            }

            .guest-p1 {
                padding: 10px 28px;
            }

            .guest-p2 {
                padding: 8px 45px;
            }
        }
    }
}