{% block anleitung %}
    <div>
        <span style="font-size: 1.2em; font-weight: 700">Willkommen im 05ER Online-Shop</span> <br />
        Wie man sieht, haben wir unser System umgestellt, leider ist es uns nicht möglich die Passwörter bestehender Kunden zu übernehmen, daher haben wir die Funktion einer Passwortlosen Authentifizierung eingebaut.
        Das funktioniert wie folgt: <br />
        <br />
        <ol>
            <li>Du klickst unten auf "Weiter"</li>
            <li><div>
                Dann klickst du auf die Authentifizierungsmethode E-Mail <br />
                <img src="/bundles/mainz05/assets/images/inital.png" style="max-width: 32em; height:auto"/>
            </div></li>
            <li><div>
                Du erhälst augenblicklich ein Einmal-Passwort per E-Mail<br />
                <img src="/bundles/mainz05/assets/images/email.png" style="max-width: 32em; height:auto"/>
            </div></li>
            <li><div>
                Das gibst du in das vorgesehene Feld ein <br >
                <img src="/bundles/mainz05/assets/images/verify.png" style="max-width: 32em; height:auto"/>
            </div></li>
            <li>Nachdem du dies eingegeben hast, wirst du aufgefordert dein Passwort zu hinterlegen</li>
            <li>Danach kannst du nach herzenslust Shoppen</li>
        </ol><br />
        Vielen Dank für dein Verständnis!<br />
    </div>
{% endblock %}