{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
<div>
    <div data-cidaas-info 
        data-cidaas-info-options="{{
            {
                'csrf': sw_csrf('cidaas.exists', {"mode": "token"}),
                'authUri': authUri,
                'clientId': clientId,
                'state': state,
                'redirectUrl': url,
                'cidaasUrl': cidaasUrl
            }|json_encode
        }}"
    ></div>
    <div class="row justify-content-md-center align-items-center">
        <div id="cidaasContainer" class="col-md-6">
            <h2 id="cidaasHeadline">Login</h2>
            <form id="infoForm">
                <div id="emailContainer">
                    <p>
                     <span style="font-size: 1.2em; font-weight: 700">Willkommen im 05ER Online-Shop</span> <br />
                     Wie man sieht, haben wir unser System umgestellt, leider ist es uns nicht möglich die Passwörter bestehender Kunden zu übernehmen, daher haben wir die Funktion einer Passwortlosen Authentifizierung eingebaut.<br />
                     <br />
                    Bitte gib deine E-Mail Adresse an, solltest du noch keinen Zugang bei uns haben, wirst du automatisch zur Registrierung umgeleitet <br />
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="emailInput" class="form-label">E-Mail:</label>
                            <input type="email" class="form-control" id="emailInput" name="emailInput" placeholder="max@mustermann.de"/>
                        </div>
                    </div>
                </div>
                <div id="infoContainer" style="display:none;">
                    Bitte triff eine Auswahl: <br />
                    <div class="row justify-content-md-center align-items-center">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary" id="notYet">Ich habe mein Kennwort noch nicht neu gesetzt</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary" id="already">Ich habe mein Kennwort schon neu gesetzt</button>
                        </div>
                    </div>
                </div>
                <div id="buttonContainer" style="margin-top: 1em;">
                    <button type="submit" id="weiterButton" class="btn btn-primary btn-buy">Weiter</button>
                </div>
            </form>
        </div>
    </div>
    <div id="formContainer">

    </div>
</div>
{% endblock %}